<section class="contact-us">
    <h1 class="main-title2 text-center mb-5 mt-3" >CONTACT US</h1>
    <div class="contact-container">
        <form class="contact-form" (ngSubmit)="sendData(contactForm)" [formGroup]="contactForm">
        <input class="bg-input" type="text" placeholder="Full Name" formControlName='name' id="name" required>
        <div *ngIf="contactForm.get('name')?.errors && contactForm.get('name')?.touched" class="alert alert-danger my-2">
            <p *ngIf="contactForm.get('name')?.errors?.['required']" class="mb-0">name is required</p>
            <p *ngIf="contactForm.get('name')?.errors?.['minlength']" class="mb-0">name minLength is 3</p>
            <p *ngIf="contactForm.get('name')?.errors?.['maxlength']" class="mb-0">name maxLength is 15</p>
        </div>
        <input class="bg-input" type="email" placeholder="Email" formControlName="email" id="email" required>
        <div *ngIf="contactForm.get('email')?.errors && contactForm.get('email')?.touched" class="alert alert-danger my-2">
            <p *ngIf="contactForm.get('email')?.errors?.['required']" class="mb-0">email is required</p>
            <p *ngIf="contactForm.get('email')?.errors?.['email']" class="mb-0">email invalid</p>
        </div>
        <input class="bg-input" type="tel" placeholder="phone Number" formControlName="phone" id="phone" required>
        <div *ngIf="contactForm.get('phone')?.errors && contactForm.get('phone')?.touched" class="alert alert-danger my-2">
            <p *ngIf="contactForm.get('phone')?.errors?.['required']" class="mb-0">phone is required</p>
            <p *ngIf="contactForm.get('phone')?.errors?.['pattern']" class="mb-0">phone invalid</p>
        </div>
        <button [disabled]="contactForm.invalid" type="submit">SEND</button>
        </form>
        <div class="contact-info ms-5 mt-5"> 
        <p class="mb-3">
            <span class="text-main"><i class="fas fa-envelope"></i></span>
            <a href="mailto:upskilling-eg1@gmail.com">upskilling-eg1#gmail.com</a>
        </p>
        <p>
            <span class="text-main"><i class="fas fa-phone main-color"></i></span>
            +20 115 493 2137
        </p>
        </div>
    </div>
    </section>