<section class="container-fluid position-relative">
    <div class="main row">
        <div class="section1 col-md-4 position-relative">
            <p class="main-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the
            </p>
        </div>
        <div class="bg-main text-light col-md-8 position-relative">
            <div class="content">
                <h3 class="main-title2">HOW WE <br>WORK</h3>
            </div>
            <div class="my-text text-center">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the
                </p>
                <button class="main-button mb-5"><a href="">Contact us</a></button>
            </div>
        </div>
    </div>
    <div class="container gallery position-absolute text-center">
        <div class="images d-flex justify-content-center align-items-center">
            <div class="image one">
                <img class="w-100" src="./assets/images/Image 3.png" alt="">
            </div>
            <div class="image two">
                <img class="w-100" src="./assets/images/Image 2.png" alt="">
            </div>
            <div class="image three">
                <img class="w-100" src="./assets/images/Image 1.png" alt="">
            </div>
            <div class="image four">
                <img class="w-100" src="./assets/images/Image.png" alt="">
            </div>
        </div>
        <button class="main-button"><a href="">Contact Us</a></button>
    </div>
</section>