<div class="testymonials">
    <div class="container testy">
        <h1>testymonials</h1>
        <div class="row container-row">
            <div class="col-md-6 one">
                <div class="card">
                    <div class="body">
                        <div class="title">
                            <h4>Kathryn Murphy</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled
                            </p>
                            <ul class="stars d-flex p-0">
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-md-6 tow">
                <div class="card">
                    <div class="body">
                        <div class="title">
                            <h4>Kathryn Murphy</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled
                            </p>
                            <ul class="stars d-flex p-0">
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-md-6 three">
                <div class="card">
                    <div class="body">
                        <div class="title">
                            <h4>Kathryn Murphy</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled
                            </p>
                            <ul class="stars d-flex p-0">
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-md-6 four">
                <div class="card">
                    <div class="body">
                        <div class="title">
                            <h4>Kathryn Murphy</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled
                            </p>
                            <ul class="stars d-flex p-0">
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="main-button mb-5"><a href="">Contact us</a></button>
    </div>
    </div>